h1, h2, h3, h4, h5, h6 {
    clear: both;
    /*        header font*/
    font-family: $font__aa;
}
h1{
    font-size:3em;
}
h2{
    font-size:2.655em;
}
h3{
    font-size:2.338em;
}
h4{
    font-size:1.989em;
}
h5{
    font-size:1.655em;
}
h6{
    font-size:1.2em;
}