//BOX TEST

/** {
    outline: 1px solid red;
}*/

.site-content{
    padding:1em;
    @media screen and (min-width: $query__small){
        padding:2em;
    }
}
.site-content {
/*    max-width: $size__max-width;*/
    margin:  0 auto;
}
.widget-area{
    font-size:.8rem;
}
.content-area{
        max-width: $size__max-width;
}

@media screen and (min-width: $query__med){
.single{ 
    &.has-sidebar{
        
        .hentry{
            display:flex;
            flex-wrap:wrap;
            justify-content: space-between;
        }
        .entry-header{
            width:100%;
            flex: 1 0 100%;
        }
        .post-content{
            width:$size__ratio-large;
        }
        .widget-title{
            font-size:1.6em;
        }
        .widget-area{
            width:$size__ratio-small;
        }
    }
}
}

@media screen and (min-width: $query__med) {
    .single{
	&.no-sidebar {

		.post-content__wrap {
			display: flex;
			justify-content: space-between;

			.entry-meta {
				width: 20%;
			}

			.post-content__body {
				width: 70%;
			}
		}

	}
}}
