$color__background-body: #ccff66;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #484848;
$color__text-input: #484848;
$color__text-input-focus: #111;
$color__link: #333300;
$color__link-visited: #333300 ;
$color__link-hover: #99cc00 ;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__skin: #ffff99;
$color__interactive: #3c7627;
$color-hcl__light-green: #7ba248;
$color-hcl__pale-green:#bbd06e;
$color-hcl__mustard:#ffff98;
$color-hcl__light-green-2:#e0f9ac;
$color-hcl__pale-green-2:#cbf1be;
$color-hcl__offwhite:#c2e5cb;

