.comment-navigation,
.posts-navigation,
.post-navigation,
.paging-navigation {
	padding: 2em 0;
	font-family: $font__bb;
	text-align: left;
	overflow: hidden;
	
	a {
		display: block;
		width: 100%;
		text-decoration: none;
		padding: 1em;
		border: 1px solid $color__skin;
		color: black;
                
		
		&:hover,
		&:focus {
			color: $color__text-main;
                        
			border-color: $color__interactive;
			background: $color__interactive;
		}
	}
	
}


.nav-links {
	margin: 0 auto;
	padding: 0 .4em;
}

.nav-previous {
	padding-bottom: 1em;
}

@media screen and (min-width: $query__med) {

	.nav-links {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		padding: 0;
           
	}

	.comment-navigation,
	.posts-navigation,
	.post-navigation {
		
		.nav-previous,
		.nav-next {
                    
			float: left;
			display: flex;
			align-items: stretch;
			width: 48%;
		}
		
		.nav-next {
			float: right;
			text-align: right;
		}
	}

	.nav-previous {
		padding-bottom: 0;
	}


}

.post-navigation {
    
	
	.meta-nav {
		display: block;
	}
	
	@media screen and (min-width: 30em) {
		padding-bottom: 1em;
	}
	
	.post-title {
		font-size: 1.2em;
		font-weight: 700;
		border-bottom: 3px solid $color__interactive;
	}
	
	a:hover .post-title,
	a:focus .post-title{
		border-bottom-color: white;
	}
	
} 


.pagination {

    .page-numbers{
/*              @include border-radius(2px);*/
    }
                  .next{
            @include border-radius(3px);
                 border-top-right-radius: 25px;
        }
          .prev{
            @include border-radius(3px);
                 border-top-left-radius: 25px;
        }
	font-family: $font__bb;

	.nav-links {
                               
;		display: flex;
		justify-content: center;
/*		flex-wrap: wrap;*/
	}

	a,
	span {
		padding: .3em 1em;
		background:$color__interactive;
         
	}

	a {
		text-decoration: none;

		&:focus,
		&:hover {
			color: $color__g3;
			background: $color__interactive;
		}
	}

	.current {
		font-weight: 600;
		color: $color__g4;
	}
 
      
        }
    @media screen and (max-height:$query__small){
    .nav-links{
            margin-bottom: 0px;
           
      }
      .pagination
      .page-numbers >span{
                     margin-bottom:22px;
          }
      
  }
  @media screen and (max-height:$query__med){
    .nav-links{
             margin-bottom: -40px;
      }
      .page-numbers{
         @include border-radius(0);
      }
 
  }
  
  