/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 18, 2018, 1:31:16 PM
    Author     : henry
*/


.site-footer{
    display:flex;
    justify-content: space-between;
}
@import "footer-menu.scss";