/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 18, 2018, 1:31:16 PM
    Author     : henry
*/

footer.site-footer{
    padding-top:.1em;
    padding-bottom:0;
    background-color:$color__skin;
    font-family:$font__aa;

/*    display:flex;*/
/*    justify-content: space-between;*/

    a{
        color:white;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
}



.site-info{
    
    padding-top:12px;
    width:50%;
    font-size:.8em;
    display:block;
}
.footer-info{
/*    padding-top:20px;*/
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}

 .social-media__container{
        font-size:.8em;
        font-weight:bold;}
 
@import "footer-menu.scss";
@media screen and (max-width:$query__small){
    .site-info{
/*        visibility:hidden;*/
    display:none;
    }
    .social-media__container{
        display:flex;
        font-size:1.2em;
        width:100%;   
    
    }
   
}

