/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 18, 2018, 1:31:41 PM
    Author     : henry
*/

ul#menu-social{
    width:50%;
    display: flex;
    margin:0;
    padding:0;
    flex-direction: row;


}
li.menu-item {
    padding:.9em;
    list-style: none;
    display:flex;

    justify-content:space-between;
}


@media screen and (max-width: $query__med){
    ul#menu-social{
        padding-top:5px;
/*        flex-direction: column;*/
    }}